
# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
=======
env
*.egg-info
*.pyc
extern
*.so
build
wandb
mup
_build
dist
