# ---- LibMOON ----
#-r libmoon-enhanced/requirements.txt

# ---- PyLO (local editable install) ----
#-e pylo

# ---- PHN-VeLO ----
#-r phn-velo/requirements.txt

about-time
accelerate
alive-progress
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
autograd
Babel
beautifulsoup4
biopython
biotite
bleach
botorch
Brotli
certifi
cffi
chardet
charset-normalizer
clarabel
cloudpathlib
cma
colorama
comm
contourpy
cvxopt
cvxpy
cycler
debugpy
decorator
defusedxml
Deprecated
dill
distro
dreamsim
ecos
einops
esm
executing
fastjsonschema
filelock
fonttools
fqdn
fsspec
ftfy
future
gpytorch
grapheme
h11
h2
hpack
hstspreload
hyperframe
idna
imbalanced-learn
imblearn
#intel-openmp
ipykernel
ipython
ipywidgets
isoduration
jaxtyping
jedi
Jinja2
jiter
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
linear-operator
llvmlite
MarkupSafe
matplotlib
matplotlib-inline
matrix_factorization
mistune
#mkl
mpmath
msgpack
msgpack-numpy
multipledispatch
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numba
numpy
open_clip_torch
openai
opt-einsum
osqp
overrides
packaging
pandas
pandocfilters
parso
peft
pillow
platformdirs
POT
prometheus_client
psutil
pure_eval
pycparser
pydantic
pydantic_core
Pygments
pymoo
pyparsing
pyro-api
pyro-ppl
python-dateutil
python-json-logger
pytz
#pywinpty
PyYAML
pyzmq
qdldl
qtconsole
QtPy
referencing
regex
requests
rfc3339-validator
rfc3986
rfc3986-validator
rpds-py
safetensors
scikit-learn
scipy
scs
seaborn
Send2Trash
six
sniffio
soupsieve
stack-data
sympy
#tbb
termcolor
terminado
threadpoolctl
timm
tinycss2
tokenizers
torch
torchaudio
torchtext
torchvision
tornado
tqdm
traitlets
transformers
typeguard
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
widgetsnbextension
wrapt
-e git+https://github.com/Belilovsky-Lab/pylo@ee00df198e976403fc4df141cf6d13407954146f#egg=pylo
# Editable install with no version control (phn
-e phn-velo/

